name: ci

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:

  # Nix jobs

  nix-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-nix-action
    - name: Build
      run: nix-shell --pure --command "cargo build --all-features --manifest-path backend/Cargo.toml"

  nix-test:
    runs-on: ubuntu-latest
    needs: nix-build
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-nix-action
    - name: Run tests
      run: nix-shell --pure --command "cargo test --all-features --manifest-path backend/Cargo.toml"

  nix-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-nix-action
    - name: Run cargo fmt
      run: nix-shell --pure --command "cargo fmt --all --manifest-path backend/Cargo.toml -- --check"

  # Ubuntu jobs

  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-ubuntu-action
    - name: Build
      run: cargo build --all-features --manifest-path backend/Cargo.toml

  ubuntu-test:
    runs-on: ubuntu-latest
    needs: ubuntu-build
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-ubuntu-action
    - name: Run tests and integration tests
      run: cargo test --all-features --manifest-path backend/Cargo.toml

  ubuntu-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-ubuntu-action
    - name: Run cargo fmt
      run: cargo fmt --all --manifest-path backend/Cargo.toml -- --check

  ubuntu-lint:
    runs-on: ubuntu-latest
    needs: ubuntu-build
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup-ubuntu-action
    - name: cargo clippy
      run: cargo clippy --all-targets --all-features --manifest-path backend/Cargo.toml
